/* Tailwind CSS v3.4.17 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  background-color: #f9f5eb;
}

body {
  margin: 0;
  font-family: "Titillium", "Roboto", "Open Sans", Arial, sans-serif;
  line-height: 1.6; /* Optional: Adjust for better readability */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f5eb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.heading {
  font-family: "Titillium", "Roboto", Arial, sans-serif;
  font-weight: 700;
}

.paragraph {
  font-family: "Titillium", "Roboto", "Open Sans", Arial, sans-serif;
  font-weight: 400;
}
